*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 1440px;
    height: 1024px;
}
.box-filhas{
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
}

.box{
    border: 2px #ff0000 ;
}
.box-pai{
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; flex-direction: column; */
    flex-wrap: wrap;
}
.box-1{
    background-color: brown;
}
.box-2{
background-color: burlywood;
}
.box-3{
    background-color: lightgreen;
}
.box-4{
    background-color: darkturquoise;
}