*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
h1{
    background-color: darkgray;
    width: 466px;
    height: 249px;
    padding: 72px 26px 71px 26px;
    text-align: center;
    border-left: 2px;
    float: left;
    border-radius: 0px;
    font-size: 80px;
}
.cabecalho nav{
    float: right;
}
.cabecalho nav ul{
    list-style: none;
}
.cabecalho nav ul li{
    display: inline-block;
    padding: 72px 10px;
}
.cabecalho nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: darkgray;
    font-size: 45px;
    font-style: bold;
    text-align: center;   
    padding: 90px 10px;
    height: 249px;
       
}
.rodape{
    clear: left;
}