*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
h1{
    background-color: darkgray;
    width: 466px;
    height: 249px;
    padding: 72px 26px 71px 26px;
    text-align: center;
    border-left: 2px;
    float: left;
    border-radius: 0px;
    font-size: 80px;
}
.rodape{
    clear: left;
    
}