*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100px;
    height: 1024;
}

.box-pai{
    display: flex;
   /* flex-direction: row-reverse;
   flex-direction: row-reverse;
   flex-direction: column-reverse;
   justify-content: flex-start
   justify-content: flex-end;
    justify-content: center;
    justify-content: space-evenly;
     justify-content: space-around;
     justify-content: space-between*/
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   justify-content:center;

}

.box-filhas{
    color:#ffffff;
    width: 100px;
    text-align:center;
}

.box{
    display: flex;
}

.box-1{
    border: 2px #ff00ff solid;
}


.box-2{
    border: 2px #b3ff00 solid;
}

.box-3{
    border: 2px #b3fff0 solid;
}

.box-4{
    border: 2px #ffffff solid;
}